aniso8601==9.0.1
blinker 
click 
colorama 
dnspython==2.6.1
Flask 
Flask-RESTful==0.3.10
itsdangerous 
Jinja2 
logger==1.4
MarkupSafe 
pymongo==4.8.0
python-json-logger==2.0.7
pytz==2024.1
setuptools==72.1.0
six==1.16.0
Werkzeug 
wheel==0.43.0
